*,
*:after,
*:before{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.mapboxgl-popup-content {
  background-color: pink;
  color: black;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container_map-rio {
  position: absolute;
  top: 0;
  left: 19%;
  display: flex;
  margin-top: .7rem;
  color: #000;
  z-index: 5;
  font-weight: 900;
}

.map_rio-text {
  font-size: 1.3125rem;
  font-weight: 900;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
}

/* MENU */

.container_menu {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border-color: #DFDFDF;
  box-shadow: 0 2px 0px #0000001A;
  background-color: #F05123;
  background-size: 100%;
  background-image: url(./assets/mask.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.container_menu-logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.menu_logo {
  width: 60%;
}

.container_menu-button {
  margin-top: .5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .95rem;
  font-weight: 400;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #CC2E00;
}

.container_menu-button:hover {
  color: #fff;
  font-weight: 900;
}

.menu_button-active {
  color: #fff;
  font-weight: 900;
  background-color: #CC2E00;
}

.menu_drop {
  padding-right: 1rem;
}

.menu_button-title:hover {
  color: #000000;
}

.container_mapping {
  padding: 1rem 0;
  width: 100%;
  background: #414141;
}

.container_mapping-item {
  padding: .4rem 0 .4rem 1.5rem;
  display: flex;
  align-items: center;
}

.mapping_item-checkbox {
  position: relative;
  margin-right: .5rem;  
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 3px;
}

.mapping_item-checkbox--check {
  position: absolute;
  bottom: 1px;
  width: 1.2rem;
}

.mapping_item-text {
  color: #fff;
  font-size: .95rem;
  font-weight: 400;
}

/* MENU */

.container_infos {
  padding-left: 3rem;
}

.container_infos-title {
  padding-top: .6rem;
  padding-bottom: .8rem;
  font-size: .95rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.container_infos-item {
  padding-bottom: .6rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .75em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container_infos-item--box {
  margin-right: 5px;
  width: 25px;
  height: 15px;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.density_img {
  width: 100%;
}

.infos_item-demand {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.container_demands {
  position: absolute;
  top: 420px;
  bottom: 0;
  right: 45px;
  padding: 0 1.3rem 1rem 1.5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #414141;
  border-radius: 4px;
  border-color: #DFDFDF;
  box-shadow: 0 2px 0px #0000001A;
  color: #fff;
  z-index: 1;
}

.container_demands div span {
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
}

.title-demands {
  align-self: flex-end;
}

.demands-item {
  padding: 0;
  position: relative;
  align-items: center;
}

.container_ongs {
  position: absolute;
  top: 630px;
  bottom: 0;
  right: 45px;
  padding: .8rem 0rem .8rem 0rem;
  width: 15.8rem;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: #414141;
  border-radius: 4px;
  border-color: #DFDFDF;
  box-shadow: 0 2px 0px #0000001A;
  color: #fff;
  z-index: 1;
}

.container_ongs-content {
  width: 55%;
  display: flex;
  padding-left: .7rem;
}

.container_ongs-marker {
  margin-right: 2rem;
  padding-left: 1.5rem;
  width: 33%;
}

.container_ongs-text {
  font-size: .95rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

/* GRID */

.Grid {
  width: 100%;
  height: 100vh;
	display: flex;
  flex-direction: row;
	align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.container_grid {
  width: 82%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.container_grid-content {
  margin-top: 1.3rem;
  padding: 4rem 3rem 0;
  width: 97%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
}

.container_grid-content--header {
  padding-bottom: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container_menu-wrapper {
  width: 100%;
}

@media (max-width: 768px) {
  .container_menu {
    flex-direction: row;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .container_menu-wrapper {
    position: fixed;
    bottom: 0;
  }
  .container_map-rio {
    display: none;
  }
  .container_grid-content {
    padding: 0;
  }
  .container_grid-content--header {
    flex-direction: column;
    max-width: 50%;
  }
  .container_grid {
    width: 100vw;
    margin-top: 50vh;
    margin-bottom: 25vh;
  }
  .menu_logo {
    min-width: 50px;
    width: 30%;
  }
  .container_menu-button { 
    margin: 0;
    padding: 0.5;
  }
}

@media(max-width: 648px) {
  .container_grid-content--header {
    max-width: 100%;
    align-items: center;
  }
  .header_title {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .container_header-sortBy {
    width: 100%;
    justify-content: space-around;
  }
  .container_header-sortBy--input {
    width: 10rem;
  }
}

.header_title {
  padding-left: .55rem;
  font-size: 1.125rem;
  font-weight: 900;
}

.container_header-sortBy {
  padding-right: .6rem;
  display: flex;
  flex-direction: row;
}

.container_header-sortBy--title {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  color: #231F20;
  font-size: .75rem;
  font-weight: 900;
}

.container_header-sortBy--input {
  width: 15.5rem;
	margin-top: 0.5rem;
	display: flex;
  flex-direction: column;
	position: relative;
  z-index: 2;
}

.header_sortBy-input {
  padding: 0.5rem 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #000;
	font-size: 0.875rem;
	cursor: pointer;
  z-index: 2;
  background: #F05123;
}

.sortBy_textSeleted {
  width: 100%;
  font-size: .85rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.sortBy_selectedItem {
  position: absolute;
	top: 32px;
	width: 100%;
	border: 0.5px solid #FBB03B;
	background-color: #fff;
	cursor: pointer;
}

.sortBy_selectedItem-text {
  padding: .8rem 1rem .8rem;
  font-size: 0.85rem;
  color: #000;
}

.sortBy_selectedItem-text:hover {
  background-color: #CC2E00;
  color: #fff;
}

.table {
  max-height: 84vh;
  overflow-y: scroll;
}

.table::-webkit-scrollbar {
  width: 10px;
}

.table::-webkit-scrollbar-track {
  background: #fff;
}
 
.table::-webkit-scrollbar-thumb {
  background: #f05123ab;
}

.table::-webkit-scrollbar-thumb:hover {
  background: #F05123;
}

.container_table {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

.container_table-head {
  width: 100%;
  text-align: left;
}

.container_table-tr {
  height: 2.3rem;
  padding-top: 0;
  padding-bottom: 0;
	padding-left: .7rem;
}

.container_table-tr:nth-child(even) {
  background-color: #fbb03b3d;
}
.container_table-tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.container_table-title {
  color: #FFFFFF;
	font-size: 0.90rem;
	background-color: #CC2E00;
	padding-left: .7rem;
}

@media(max-width: 648px) {
  .container_table-title { 
    font-size: 0.85rem;
  }
}

.container_table-loader {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.table-loader {
  width: 4%;
}

.container_table-text {
  padding-left: .7rem;
  text-align: center;
}

@media(max-width: 648px) {
  .container_table-text { 
    font-size: 0.75rem;
  }
}

.container_table-text--neighborhood {
  text-align: left;
}

/* GRID */